<!--
   __     ______     __         ______
  /\ \   /\  __ \   /\ \       /\__  _\
 _\_\ \  \ \ \/\ \  \ \ \____  \/_/\ \/
/\_____\  \ \_____\  \ \_____\    \ \_\
\/_____/   \/_____/   \/_____/     \/_/

https://justinjackson.ca/jolt
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5SH55RZ');</script>
<!-- End Google Tag Manager -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Track Your SaaS with robust & reliable analytics</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SH55RZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="main">
  <article>
  	<img src="img/track-your-saas-logo.png" style="width:30%;" alt="Track Your SaaS written on line graph" border="0" class="img-responsive">
  	<h1 align="center">"I added the Google Analytics script. Now what?"</h1>
    <h2 align="center" style="font-weight:400;"><em>What if you could setup a reliable analytics workflow for your SaaS in under an hour?</em></h2>
    <p align="center"><em>Track Your SaaS can help you get your analytics workflow in shape fast. </em></p>
    <p>You're building a solution for your customers. You know analytics can help you improve your marketing, but it takes time to create a good analytics workflow. Even if you have someone dedicated to marketing, they need to focus on attracting new customers. How much more effective could your team be if you knew where to spend your time?</p>
    <p><strong>Here's our solution. Here's how we make you more awesome.</strong></p>
    <p>Track Your Saas is on it's way. Sign up to be notified when it becomes available.</p>
    <!-- Begin Mailchimp Signup Form -->
    <div id="mailchimp">
    <form action="https://shanerice.us2.list-manage.com/subscribe/post?u=05320fb1fc9ba07bc04963a3f&amp;id=c54b5459ee" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" validate>
        <div id="mc_embed_signup_scroll">
    	<h2>Sign up for updates when Track Your SaaS goes on sale!</h2>
    <div class="mc-field-group">
    	<input type="email" value="Enter your email address" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
    </div>
    	<div id="mce-responses" class="clear">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_05320fb1fc9ba07bc04963a3f_c54b5459ee" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>

    <!--End mc_embed_signup-->
    <div class="who">
    <hr>
    <h2 align="center">Who am I?</h2>
    <img src="img/shane.jpg" alt="Shane">
    <p>Hi! I'm Shane.</p>
    <p>For the last eight years I've helped companies like AppRiver, Wildbit, Honeybadger, and GitLab track their marketing. I used a bunch of different analytics tools and created Track Your Saas to share the workflow that's helped me create great analytics workflows.</p>
    <p>Check out my work {{todo: add public data links for trackyoursaas.com}}</p>
    <p>I live Pensacola, FL, and visit my comic book shop every Wedsneday to pick up my pull list.</p>
    </div>
    <hr>
    <h2 align="center">Have questions?</h2>
    <p align="center"><strong>Email:</strong> shane@shanerice.com</p>
    <p align="center"><strong>Twitter: </strong>@shanerice</p>
  </article>
</div>
</body>
</html>
